<!DOCTYPE html>
<html>
<head>
<meta name=viewport content='width=1399'>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/hexagons.css" />
    <link rel="stylesheet" href="/css/hexagons.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
	<title>Ruth Acosta Portfolio</title>
	
</head>
 <body>
 
<div class="mastfoot">
            <div class="inner">
              <p> Contact me via <a href="mailto:ruthacosta@icloud.com">Email</a>, or <a href="https://www.linkedin.com/in/ruthacosta">Linkedin</a>.</p>
            </div>
          </div>

 <%= yield %>

 <script src="/js/jquery-2.1.0.min.js"></script>
 <script src="/js/jquery-2.1.0.min.map"></script>
<!--  <script src="/js/hexagons.js"></script> -->
 <!-- <script src="/js/hexagons.min.js"></script>	 -->
 
 </body>
</html>