<h1>PORTFOLIO</h1>


<div class="wrapper">
            
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="http://i.imgur.com/AWmPJI6.png" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <div class="card__social">  
                        </div>
                    </div>

                    <article class="card__article">
                        <h2><a href="http://www.thegifofgiffing.site/">thegifofgiffing.site</a></h2>

                        <p>This fun little site allows you text a friend any of the top 20 trending gifs from Giphy. Created on Rails using Giphy and Twilio APIs, along with HTML, and a bit of Skeleton for CSS.</p>
                    </article>
                </div>
            </div>
        </div>


   <div class="wrappertwo">
            
            <div class="cardtwo radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="http://i.imgur.com/Rzr2Lq9.png" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <div class="card__social">  
                        </div>
                    </div>

                    <article class="card__article">
                        <h2><a href="http://daytrippr.herokuapp.com/">DAYTRIPPR</a></h2>

                        <p>Worked with a PM and 3 other Web Developers to create a Trip Planner in Rails, using the Google API, GMAIL, HTML, Ajax, JSON and Bootstrap. I developed the Mailer using GMAIL to send invitations to new and existing users.</p>
                    </article>
                </div>
                </div>
            </div>
        </div>

        <a href="https://github.com/FoofA100" a class="hb-sm = Small Hexagon = width : 64px btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-github']);"><span class="fa fa-github"></span></a>

<div id="navproject">
	   <ul>
		   <li class="about"><a href="/about" method "posts">About</a></li>
		   <li class="projects"><a href="/" method "posts">Home</a></li>
	   </ul>
   </div>